body {
    background-image: url("../img/backgroundImg.jpeg");
    background-size: contain;
    background-repeat: round;
    color: rgb(238, 244, 195);
    font-family: 'Courier New', Courier, monospace;
  }