body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2f/Hubble_ultra_deep_field.jpg");
    background-size: contain;
    background-repeat: round;
    color: rgb(238, 244, 195);
    font-family: 'Courier New', Courier, monospace;

    
  }
 
  .nav-link{
    text-decoration: none;
    color: white;
  }

  .link-no-underline {
    text-decoration: none;
    color: white;
}

.link-no-underline:hover {
  color: yellow;
  text-decoration: none;
}

.link-magdis {
  text-decoration: none;
  color: rgb(255, 54, 87)
}

.link-magdis:hover {
  text-decoration: none;
  color: rgb(232, 23, 58)
}